.person-details-wrapper {
  padding: 3rem;
}

.person-details {
  display: flex;
  justify-content: space-between;
}

.person-img-container {
  width: 45%;
}

.person-img-container img {
  width: 100%;
  height: auto;
}

.person {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.person-details-row {
  display: flex;
  margin-bottom: 1.5rem;
  justify-content: space-between;
}

.person-details-row h3 {
  text-transform: uppercase;
}

@media screen and (max-width: 900px) {
  .person-details {
    flex-direction: column;
    align-items: center;
  }

  .person-img-container,
  .person {
    width: 100%;
  }
}
